<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>

</head>
<style>


</style>
<body>
    <header>
        <ul class="main_ul" >
                <li><a>Logo</a></li>
            <div class="main_li">
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a href="https://ксипт.рф">Article</a></li>
            </div>
        </ul>
    </header>

    <main>
        {% include content %}
    </main>

    <footer>
        <p class="copyright">Все права защищены 2026г.</p>
    </footer>
    


</body>
</html>