
        <h2>Редактирование статьи: {{ article.get_name() }}</h2>

        <a href="/articles">Все статьи</a>

        <form action="" method="POST">
                <div class="label">
                        <label>Заголовок статьи <input type="text" name="name" value="{{article.get_name()}}"></label>
                        <label>Текст статьи <textarea name="text"> {{article.get_text()}} </textarea></label>
                </div>
                <input type="submit" value="Обновить" class="input_button">
        </form>

<style>
     input, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    textarea {
        min-height: 120px;
    }

    .input_button {
        background: antiquewhite;
        color: black;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    .input_button:hover {
        background: rgb(235, 220, 202)
    }
</style>