<h1> Вход пользователя </h1>

{% if error %}
    <p style="background-color:crimson;"> {{ error }}</p>
{% endif %}

<div class="m-3 col-md -6">
    <form action="" method="POST">
        <div class="mb-3">
            <label for="inputName" class="form-label">Логин</label>
            <input type="text" id="inputName" class="form-control" name="nickname"
            {% if user %}
                value="{{user.nickname}}"
            {% endif %}
            >
            
        </div>

        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password"
            {% if user %}
                value="{{user.password}}"
            {% endif %}
            >
        </div>
            <input type="submit" class="btn btn-primary">
    </form>
</div>